@model StudentExercisesMVC.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._handle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._handle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._cohortId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._cohortId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
